.body{
    margin: 0;
    background-color: red;
    font-family: montserrat;
}

.header{
    background-color:  #FEFCFD;
    height: 7rem;
    
    
}

.header_nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}
.logo{
    display: flex;
    color: #07BEB8;
    margin-left: 1.75rem;
    margin-top: 2.5rem;
    
    
}

.lista_botones{
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
    font-size: 1.3rem;
    margin-right: 2.5rem;
    
 

}

.boton{
    padding: 0.25rem;
    text-decoration: none;
    color: black;
    
}

.nav_boton_1{
    padding-left: 2rem;
}

.main{
    
    display: flex;
    padding: 19.96rem;
    flex-direction: column;
    align-items: center;
}

.nav_titulo{
    color: white;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    border-radius: 0.3rem;
    width: 25rem;
    font-size: 1.4rem;
    
}

.color{
    font-size:1.8rem;
}

.boton_central{
    display: flex;
    margin: 2rem;
    background-color: red;
    color: aliceblue;
    width: 20rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    padding: 0.5rem;
    justify-content: center;
}

.body{
    margin: 0;
    background-color: #3DCCC7;
    font-family: montserrat;
}


.header{
    background-color:  #FEFCFD;
    height: 7rem;
    
    
}

.header_nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}
.logo{
    display: flex;
    color: #07BEB8;
    margin-left: 1.75rem;
    margin-top: 2.5rem;
    
    
}

.lista_botones{
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
    font-size: 1.3rem;
    margin-right: 2.5rem;
    

}

.boton{
    padding: 0.25rem;
    text-decoration: none;
    color: black;
    
}

.nav_boton_1{
    padding-left: 2rem;
}

.main{
    
    display: flex;
    padding: 19.96rem;
    flex-direction: column;
    align-items: center;
}

.nav_titulo{
    color: white;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border-radius: 0.3rem;
    width: 35rem;
    font-size: 1.3rem;
    
}

.titulo{
    font-size: 1.45rem;
}
.color{
    font-size:1.8rem;
}

.boton_central{
    display: flex;
    margin: 2rem;
    background-color: #3DCCC7;
    color: aliceblue;
    width: 20rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    padding: 0.5rem;
    justify-content: center;
}